/* Main */
main {
    padding: 6% 16%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Main - Content (Left Side) */
main .content {

}

/* Main - Content - H1 */
main .content h1 {
    font-size: 68px;
    color: #170C89;
}

/* Main - Content - H3 */
main .content h3 {
    color: #575BFD;
    font-size: 50px;
}

/* Main - Content - P */
main .content p {
    font-size: 24px;
}

/* Main - Content - Button */
main .content button {
    display: inline-block;
    border-radius: 2em;
    background-color: #170C89;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.3s;
    cursor: pointer;
    margin: 40px 0px;
}
/* Main - Content - Button(Hover) */
main .content button:hover {
    filter: brightness(1.5);

}

/* Main - Image (Right Side) */
main img {
    width:590px;
    height: auto;
}