.testimonies{
    padding: 10% 13%;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.testimonies h1{
    
}

.testimonies p {
    font-style: italic;
    margin-top: 30px;
}