/* Header - List (Right side) */
footer {
    padding: 23px 12%;
    text-align: center;
    align-items: center;
    background-color:#170C89;
    color:white;
    box-shadow: 5px 10px 8px #3d3d3d;
}