@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');

/* Change default box-sizing/margin/padding */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* Font style */
body {
    font-family: 'Merriweather Sans', sans-serif;
    background-color:#E6ECFD;
}