@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');

/* Change default box-sizing/margin/padding */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* Font style */
body {
    font-family: 'Merriweather Sans', sans-serif;
}

/* Header */
header {
    padding: 30px 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#06283D;
    color:white;
}
/* Header - Logo (Left side) */
header img {
    width:80px;
    height: 80px;
}

/* Header - List (Right side) */
header li {
    display: inline;
    padding:0px 50px;
    word-spacing: 12px;
}

/* Header - List - Links */
header li a {
    
}